


body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.input-field{
padding:20px;
display:block;
margin:20px auto;
border:3px solid #4caf50;
text-align:left;
font-size:2em;
color:#4caf50;
border-radius:6px;
}

.increase{
  float:right;
  cursor:pointer;
  }
  .decrease{
    float:left;
    cursor:pointer;
    color:#ff1744;
    }
    
    @media screen and (max-width: 600px){
      #root{
        padding: 1rem;
        }
        .input-field{
          width:90%;
          display:inline-block;
          font-size:1.5em;
          }
          .addition, .subtraction{
            height:30px;
            line-height:30px;
            border-top:1px dotted #ccc;
            }
            }


.reset{
  background:none;
  outline: none;
  border: none;
  text-decoration: underline;
  color:#8e8e8e;
  cursor: pointer;
  }


