


body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.input-field{
padding:20px;
display:block;
margin:20px auto;
border:3px solid #4caf50;
text-align:left;
font-size:2em;
color:black;
border-radius:6px;
}

.increase{
  font-size: large;
  color: green;
  width: 100px;
  height: 40px;
  float:right;
  cursor:pointer;
  }
  .decrease{
    font-size: large;
    width: 100px;
    height: 40px;
    float:left;
    cursor:pointer;
    color:#ff1744;
    }
    
    @media screen and (max-width: 600px){
      #root{
        padding: 1rem;
        }
        .input-field{
          width:90%;
          display:inline-block;
          font-size:1.5em;
          }
          .increase, .decrease {
            margin-top: 1rem;
            }
          }


.reset{
  font-size: large;
    width: 100px;
    height: 40px;
   
    cursor:pointer;
    
  color:#8e8e8e;
  
  }

  .list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
  }
  
  .list li {
    margin: 0;
  }
  